# This is a basic workflow to help you get started with Actions

name: Workflow-Two Triggered by Other

# Controls when the workflow will run
on:
  workflow_run:
    workflows: [The Main]
    types: completed
    branches: [branch-one]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Get meta-data from event payload
        id: step1
        env:
          GITHUB_BRANCH: (${{ toJSON(github.event.workflow_run.head_branch) }} | jq -r)
        run: |
          echo "$GITHUB_BRANCH"
          echo "branch=$GITHUB_BRANCH" >> $GITHUB_OUTPUT
        
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          ref: ${{ steps.step1.outputs.branch}}

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello from Workflow-Two on the \'Main\' branch

      - name: Get meta-data from event payload
        env:
          GITHUB_BRANCH: ${{ toJSON(github.event.workflow_run.head_branch) }}
        run: echo "$GITHUB_BRANCH" 

      - name: Display the Readme
        run: cat ./README.md
